body {
	margin:0;
	padding:0;
}

#lpcr-data {
  width:100%;
  height:680px;
  border-width: 1px;
  border-color: #000;
}

#lpcr-nas {
  width:500px;
  height:500px;
  border-width: 1px;
  border-color: #000;
}
