body {
  background-color: darkcyan;
  color: #f6f6f6;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 1rem;
  text-align: center; }

a {
  color: rgba(0, 0, 0, 0.7); }
  a:focus, a:hover {
    color: rgba(0, 0, 0, 0.6); }
  a:visited {
    color: rgba(0, 0, 0, 0.7); }

.container {
  width: 800px;
  margin: 0 auto; }

.container * {
  text-align: left; }

h1 {
  text-align: center; }

p {
  font-size: 14px; }

.metadata {
  border: 1px solid #f0f0f0;
  font-size: 12px;
  padding: 5px;
  font-family: "Fira Sans", sans-serif; }

.metadata table tr th {
  width: 100px;
  font-weight: normal; }

.metadata table td, .metadata table th {
  border: collapsed;
  padding-left: 5px;
  vertical-align: top; }

.post_header_image {
  margin-top: 5px;
  text-align: center; }

.post_header_image img {
  border: 0px; }

.article_item p {
  margin-bottom: 1px; }

.tag_group {
  clear: both;
  margin: 1px;
  padding: 0; }

.tag {
  font-size: 11px;
  background: #f8dddd;
  color: #20b602;
  padding: 1px 2px; }
